* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: 50px repeat(2, 1fr) / repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  width: 800px;
}

.title {
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;
}

.buttons {
  grid-area: 2 / 1 / 4 / 2;
  padding: 10px;
}

.buttons > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  width:90px;
}

.scratch-div {
  grid-area: 2 / 2 / 4 / 4; 
  display: flex;
  justify-content: center;
}

#square {
  display: flex;
  flex-flow: row wrap;
  width: 512px;
  height: 512px;
  outline-style: solid;
}

#square div {
  border: 1px solid black;
}
