* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: 50px 512px / 1fr 512px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  border: 1px solid black;
  margin: 20px;
  padding: 1rem;
  width: 800px;
  border-radius: 12px;
}

.title {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}

.btn {
  grid-area: 2 / 1 / 3 / 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#div-size-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

#div-range-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  cursor: pointer;
  width: 90px;
  height: 25px;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  /* margin: 0.25em; */
}

button:target {
  background-color: red;
}

.pulse_black:hover,
.pulse_black:focus {
  animation: pulse_black 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse_black {
  0% {
    box-shadow: 0 0 0 0 black;
  }
}

.rainbow-button {
  text-decoration: none;
  width: calc(84px + 6px);
  height: calc(19px + 6px);
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: #000;
}
.rainbow-button:after {
  content: attr(alt);
  width: 84px;
  height: 19px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.scratch-div {
  grid-area: 2 / 2 / 3 / 3;
  width: 512px;
  height: 512px;
  display: flex;
  /* border: 1px solid grey; */
  outline: solid grey;
}

#square {
  display: flex;
  flex-flow: row wrap;
}

#square div {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

.square-div:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#copyright {
  color: #000;
  grid-area: 3 / 1 / 3 / 3;
  text-align: center;
  margin: 1rem;
}
